[submodule "moonlander-game"]
	path = moonlander-game
	url = https://github.com/darwins-challenge/moonlander-game.git
[submodule "moonlander-ast-rust"]
	path = moonlander-ast-rust
	url = https://github.com/darwins-challenge/moonlander-ast-rust.git
[submodule "moonlander-visualisation"]
	path = moonlander-visualisation
	url = https://github.com/darwins-challenge/moonlander-visualisation.git
[submodule "nadezhda"]
	path = nadezhda
	url = https://github.com/darwins-challenge/nadezhda.git
[submodule "presentation"]
	path = presentation
	url = https://github.com/darwins-challenge/rust-belt-rust.2016.git
	branch = gh-pages
[submodule "moonlander-gp"]
	path = moonlander-gp
	url = https://github.com/darwins-challenge/moonlander-gp.git
[submodule "moonlander-ast"]
	path = moonlander-ast
	url = https://github.com/darwins-challenge/moonlander-ast.git
